* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #37334b;
    text-align: center;
}

/* Start NavBar */

.titulo {
    margin-right: 300px;
}

.navbar {
    background: linear-gradient(#130c2b, 90%, rgba(255, 255, 255, 0));
    color: white;
    padding: 20px 100px;
}

#cuenta {
    border: solid white 1px;
    border-radius: 25px;
    color: white;
    padding: 10px 20px;
}

#active {
    color: #1d81ad;
}

.nav-link {
    color: white;
    text-align: center;
    font-size: 17px;
    margin-right: 50px;
}

.nav-item :hover{
    color: #1d81ad;
}

strong {
    color: #1d81ad;
}

/* End NavBar */

.contenido {
    background-color: #130c2b93;
    margin: 50px 200px;
    border-radius: 20px;
    color: white;
    padding: 30px 50px;
}

.contenedor-formulario {
    /* text-align: left; */
    display: flex;
    flex-wrap: nowrap;
}

#formulario {
    margin: 0px;
    padding: 0px 40px;
    text-align: left;
}

img {
    border-radius: 10px;
    width: 250px;
    height: 380px;
    /* display: flex; */
    /* position: absolute; */
    border: solid white 1px;
}

.barra-texto {
    padding: 15px 0px;
}

.btn {
    border-radius: 50px;
    border: solid white 1px;
    background-color: #1d81ad;
    width: 100px;
    margin-top: 20px;
}

a {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#btn-secundario {
    border: solid white 1px;
    border-radius: 35px;
    color: white;
    padding: 10px 20px;
    background-color: #1d82ad00;
    width: 170px;
    height: 45px;
    margin-right: 50px;
    margin-top: 40px;
    margin-left: 20px;
}

.modal {
    color: black;
    text-align: left;
}